<p><strong>Checkpoint</strong>&nbsp:&nbsp<strong>Open Time</strong>&nbsp:&nbsp<strong>Close Time</strong></p>
{% for item in items %}
  <p>{{ item.kmInfoDone }} &nbsp:&nbsp {{ item.openInfoDone }} &nbsp:&nbsp {{ item.closeInfoDone }}<p>
{% endfor %}